<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>ExpertFilter</filter-name>
        <filter-class>filter.ExpertFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>filter.AdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/blogmanager</url-pattern>
        <url-pattern>/ptmanager</url-pattern>
        <url-pattern>/course</url-pattern>
        <url-pattern>/userManager</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ExpertFilter</filter-name>
        <url-pattern>/blog</url-pattern>
        <url-pattern>/myblog</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.user.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Blog</servlet-name>
        <servlet-class>controller.blog.Blog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>controller.user.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginWithGoogle</servlet-name>
        <servlet-class>controller.user.LoginWithGoogle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassword</servlet-name>
        <servlet-class>controller.user.ForgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyCode</servlet-name>
        <servlet-class>controller.user.VerifyCode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <servlet-class>controller.user.ResetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginWithFacebook</servlet-name>
        <servlet-class>controller.user.LoginWithFacebook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfile</servlet-name>
        <servlet-class>controller.user.UserProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfile</servlet-name>
        <servlet-class>controller.user.UpdateProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginWithPhone</servlet-name>
        <servlet-class>controller.user.LoginWithPhone</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginWithPhoneSuccess</servlet-name>
        <servlet-class>controller.user.LoginWithPhoneSuccess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterWithPhone</servlet-name>
        <servlet-class>controller.user.RegisterWithPhone</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterWithPhoneSuccess</servlet-name>
        <servlet-class>controller.user.RegisterWithPhoneSuccess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogList</servlet-name>
        <servlet-class>controller.blog.BlogList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogView</servlet-name>
        <servlet-class>controller.blog.BlogView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseManager</servlet-name>
        <servlet-class>controller.course.CourseManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCourse</servlet-name>
        <servlet-class>controller.course.AddCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCourse</servlet-name>
        <servlet-class>controller.course.DeleteCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCourse</servlet-name>
        <servlet-class>controller.course.UpdateCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginWithGithub</servlet-name>
        <servlet-class>controller.user.LoginWithGithub</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProgramTraining</servlet-name>
        <servlet-class>controller.course.ProgramTraining</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CoursePublic</servlet-name>
        <servlet-class>controller.course.CoursePublic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseNotification</servlet-name>
        <servlet-class>controller.course.CourseNotification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyCourse</servlet-name>
        <servlet-class>controller.course.MyCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Notification</servlet-name>
        <servlet-class>controller.user.Notification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Security</servlet-name>
        <servlet-class>controller.user.Security</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>controller.user.DeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingProfile</servlet-name>
        <servlet-class>controller.user.SettingProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePass</servlet-name>
        <servlet-class>controller.user.ChangePass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogManager</servlet-name>
        <servlet-class>controller.blog.BlogManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProgramTrainingManager</servlet-name>
        <servlet-class>controller.course.ProgramTrainingManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveBlogAction</servlet-name>
        <servlet-class>controller.blog.SaveBlogAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveBlogList</servlet-name>
        <servlet-class>controller.blog.SaveBlogList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveLikeAction</servlet-name>
        <servlet-class>controller.blog.SaveLikeAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertComment</servlet-name>
        <servlet-class>controller.blog.InsertComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LikeComment</servlet-name>
        <servlet-class>controller.blog.LikeComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProgramTraining</servlet-name>
        <servlet-class>controller.course.AddProgramTraining</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProgramTraining</servlet-name>
        <servlet-class>controller.course.UpdateProgramTraining</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserManager</servlet-name>
        <servlet-class>controller.user.UserManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDetail</servlet-name>
        <servlet-class>controller.user.UserDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRole</servlet-name>
        <servlet-class>controller.user.UserRole</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserStatus</servlet-name>
        <servlet-class>controller.user.UserStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortUser</servlet-name>
        <servlet-class>controller.user.SortUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUser</servlet-name>
        <servlet-class>controller.user.SearchUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>controller.user.AddUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VideoLesson</servlet-name>
        <servlet-class>controller.lesson.VideoLesson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LessonDetail</servlet-name>
        <servlet-class>controller.lesson.LessonDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LessonDetailManager</servlet-name>
        <servlet-class>controller.lesson.LessonDetailManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddLessonDetail</servlet-name>
        <servlet-class>controller.lesson.AddLessonDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateLessonDetail</servlet-name>
        <servlet-class>controller.lesson.UpdateLessonDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteLessonDetail</servlet-name>
        <servlet-class>controller.lesson.DeleteLessonDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchLessonDetail</servlet-name>
        <servlet-class>controller.lesson.SearchLessonDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortLessonDetail</servlet-name>
        <servlet-class>controller.lesson.SortLessonDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCourse</servlet-name>
        <servlet-class>controller.course.SearchCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortCourse</servlet-name>
        <servlet-class>controller.course.SortCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterCategory</servlet-name>
        <servlet-class>controller.course.FilterCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseDetail</servlet-name>
        <servlet-class>controller.course.CourseDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StorageIMG</servlet-name>
        <servlet-class>controller.blog.StorageIMG</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBlogAndCourse</servlet-name>
        <servlet-class>controller.user.SearchBlogAndCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchPage</servlet-name>
        <servlet-class>controller.user.SearchPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LessonManager</servlet-name>
        <servlet-class>controller.lesson.LessonManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddLesson</servlet-name>
        <servlet-class>controller.lesson.AddLesson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateLesson</servlet-name>
        <servlet-class>controller.lesson.UpdateLesson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteLesson</servlet-name>
        <servlet-class>controller.lesson.DeleteLesson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchLesson</servlet-name>
        <servlet-class>controller.lesson.SearchLesson</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Blog</servlet-name>
        <url-pattern>/blog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginWithGoogle</servlet-name>
        <url-pattern>/loginwithgoogle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassword</servlet-name>
        <url-pattern>/forgotpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyCode</servlet-name>
        <url-pattern>/verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/reset-pass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginWithFacebook</servlet-name>
        <url-pattern>/login-facebook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfile</servlet-name>
        <url-pattern>/userProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfile</servlet-name>
        <url-pattern>/updateProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginWithPhone</servlet-name>
        <url-pattern>/login-phone</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginWithPhoneSuccess</servlet-name>
        <url-pattern>/succesful-phone</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterWithPhone</servlet-name>
        <url-pattern>/register-phone</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterWithPhoneSuccess</servlet-name>
        <url-pattern>/succesful-registerphone</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogList</servlet-name>
        <url-pattern>/bloglist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogView</servlet-name>
        <url-pattern>/blogview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseManager</servlet-name>
        <url-pattern>/course</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCourse</servlet-name>
        <url-pattern>/addCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCourse</servlet-name>
        <url-pattern>/deleteCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCourse</servlet-name>
        <url-pattern>/updateCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginWithGithub</servlet-name>
        <url-pattern>/login-github</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProgramTraining</servlet-name>
        <url-pattern>/programTraining</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CoursePublic</servlet-name>
        <url-pattern>/coursePublic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseNotification</servlet-name>
        <url-pattern>/courseNotification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyCourse</servlet-name>
        <url-pattern>/myCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Notification</servlet-name>
        <url-pattern>/notification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Security</servlet-name>
        <url-pattern>/security</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/deleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingProfile</servlet-name>
        <url-pattern>/settingProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePass</servlet-name>
        <url-pattern>/changePass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogManager</servlet-name>
        <url-pattern>/blogmanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProgramTrainingManager</servlet-name>
        <url-pattern>/ptmanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveBlogAction</servlet-name>
        <url-pattern>/save-blog-action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveBlogList</servlet-name>
        <url-pattern>/save-blog-list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveLikeAction</servlet-name>
        <url-pattern>/save-like</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertComment</servlet-name>
        <url-pattern>/insertComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LikeComment</servlet-name>
        <url-pattern>/LikeComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProgramTraining</servlet-name>
        <url-pattern>/addprogram</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProgramTraining</servlet-name>
        <url-pattern>/updateprogram</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserManager</servlet-name>
        <url-pattern>/userManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDetail</servlet-name>
        <url-pattern>/userDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRole</servlet-name>
        <url-pattern>/userRole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserStatus</servlet-name>
        <url-pattern>/userStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortUser</servlet-name>
        <url-pattern>/sortUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUser</servlet-name>
        <url-pattern>/searchUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/addUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VideoLesson</servlet-name>
        <url-pattern>/videoLesson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LessonDetail</servlet-name>
        <url-pattern>/lessonDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LessonDetailManager</servlet-name>
        <url-pattern>/lessonDetailManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddLessonDetail</servlet-name>
        <url-pattern>/addLessonDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateLessonDetail</servlet-name>
        <url-pattern>/updateLessonDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteLessonDetail</servlet-name>
        <url-pattern>/deleteLessonDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchLessonDetail</servlet-name>
        <url-pattern>/searchLessonDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortLessonDetail</servlet-name>
        <url-pattern>/sortLessonDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCourse</servlet-name>
        <url-pattern>/searchCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortCourse</servlet-name>
        <url-pattern>/sortCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterCategory</servlet-name>
        <url-pattern>/filterCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseDetail</servlet-name>
        <url-pattern>/courseDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StorageIMG</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBlogAndCourse</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchPage</servlet-name>
        <url-pattern>/searchPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LessonManager</servlet-name>
        <url-pattern>/lessonManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddLesson</servlet-name>
        <url-pattern>/addLesson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateLesson</servlet-name>
        <url-pattern>/updateLesson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteLesson</servlet-name>
        <url-pattern>/deleteLesson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchLesson</servlet-name>
        <url-pattern>/searchLesson</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            1000
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/view/common/authorization.jsp</location>
    </error-page>
</web-app>
